
<div class="min-h-full p-10">
  <h2 class="mx-auto mt-2 text-center text-4x1 p-5" style="font-size: 20px;">Registro</h2>
  <form >
    <ion-item>
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" type="submit" >
      Registrar
    </ion-button>
  </form>

</div>